{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}

<body class="bodys">
    <div class="container">
        <div class="mt-5">
            <div class="jumbotron form-bodys">
                <h1 class="display-4 text-center font-weidth-bold">Hello, Tweetech!</h1>
                <p class="lead  text-center">Tweetech Agency All Empoloye's Informations</p>
                <br>
                <hr class="my-4">

                <form class="forms-edition" action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <h4 class="text-center text-info ">Employee Form</h4>
                    <h4 class="text-center text-info mb-5">Fill-Up Form</h4>

                    {{form|crispy}}
                    <div class="container edit-container">
                        <button type="submit" class=" p-2  btn btn-primary btn-sm btn-block " value="submit"><i
                                class="fas fa-database text-danger"></i> Submit</button>
                        <a href="{% url 'employee_info_list_insert' %}"
                            class=" p-2 btn btn-secondary btn-sm btn-block"><i class="fas fa-stream text-danger"></i>
                            Back to list</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
    {% endblock content%}