{% extends "employee/base.html" %}

{% block content%}
<div class="">
    <h2 class="">create a new account</h2>
    <form action="" method="post" class="">
        {% csrf_token %}

        {% for field in login_form %}
            <div class="mb-3">
                <label for="" class="">{{ field.label_tag }} </label>
                {{ field }}
            </div>

            <div>{{ field.errors }}</div>
        {% endfor %}

        <div class="">
              <a href="{% url 'login' %}" class="">Already have an account?</a>
             <button type="submit" class="">Register</button>
        </div>
</div>

{% endblock%}