body { 
	height: 100%; 
	background-color: rgb(192 195 184 / 81%);
}

.global-container{
	/* height:90%; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(192 195 184 / 81%);
}

.singin-up-form{
	padding-top: 15px !important;
	font-size: 16px !important;
	/* margin-top: 30px !important; */
}
.sign-up-label{
	margin-bottom: 10px !important;
	width: 15rem !important;
    padding-left: 10px;
    font-size: 16px;
}
.card-title{ 
	font-weight:300;
 }

.singin-up-form-btn{
	font-size: 14px;
	margin-top:20px;
	margin-bottom: 20px;
	width: 100%;
	
}



.login-form{ 
	width: 417px;
    padding: 20px;
}
.forgot-password{
	float:right;
	font-size:14px;
	text-decoration: underline !important;
}

.sign-up{
	text-align:center;
}
.sign-up > a{
	
	color: rgb(15, 108, 196) !important;

}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}